.general-background{
    background:linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    height: 100vh;
}

.login2-background {
    width: 60rem;
    margin: auto;
    background: transparent;
    position: relative;
}
.login2-lista_funciones {
    border-radius: 4rem 4rem 3rem 3rem;
    margin-top: -2rem;
}
section{
    height: auto;
    margin: auto;
    padding: 5rem 3rem;
    
    
}
